@import url('https://fonts.googleapis.com/css?family=Montserrat');
$color_azul:#103046;
$color_amarillo:#FFB80D;
$color_letra:darken(#aaa,15);
body,html{
	height: 100%;
}
body{
	font-family: 'Montserrat', sans-serif;
}
.contendor-cabezera,.cabezera{
	display: flex;
	background:$color_azul;

}
.contenedor-cabezera{
	height: 70px;
	position: fixed;
	width: 100%;
	z-index: 50;
	display: flex;
	justify-content:center;
	align-items:center;
}
.cabezera{
	height: 100%;
	padding: 0 2em;
	width: 100%;
	position: relative;
	max-width: 1500px;
}
.logo,.items{
	height: 100%;
	display: flex;
}
.logo{
	width: 30%;
	//background: red;
	min-width: 270px;
	padding: .2em 0;
	padding-left: .5em;

}
.img-logo{
	width: 150px;
	height: 100%;
	//background: steelblue;

	& img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}
.items{
	width: 70%;
	//background: blue;
	justify-content:flex-end;
	align-items:center;
	overflow: hidden;


	& a{
		padding: 1.5em 1.5em;
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		transition: all .3s ease;
		position: relative;
		overflow: hidden;

		/*&:before, &:after{
			content:"";
			position: absolute;
			width: 0;
			background: $color_amarillo;
			height: 3px;
			left: 50%;
			transition:all .3s ease;
		}
		&:before{
			bottom: 12px;
		}
		&:after{
			top: 12px;
		}*/
	}	
	& a:hover{
		color: $color_amarillo !important;
	} 
	/*& a:hover:before{
		left: 0;
		width: 100%;
	} 
	& a:hover:after{
		left: 0;
		width: 100%;
	} */
}

.caja-iniciosesion{
	width: 220px;
	min-height: 100px;
	background: #fff;
	position: fixed;
	top: 70px;
	right: 25px;
	z-index: 40;
	box-shadow: 0 0 2px 1px #aaa;
	display: none;

	&:before{
		content: "";
		width: 30px;
		height: 30px;
		background: #fff;
		position: absolute;
		top: -15px;
		right: 65px;
		z-index: -1;
		box-shadow: 0 0 2px 1px #aaa;
		-webkit-transform: rotate(45deg);

	}
}
.inicio-sesion,.cajas,.btn-sesion.opciones{
	width: 100%;
}
.inicio-sesion{
	height: 100%;
	padding: .6em .6em;
	background: #fff;
	//background: blue;
}
.margen{
	margin-bottom: 10px;
}
.cajas{
	//background: tomato;
	& .caja-sesion{
		width: 100%;
		font-size: 14px;
		padding: 0 .3em;
		height: 32px;
		border: 1px solid #aaa;
	}
	& small{
		color: #dc3545;
		margin-top: 3px;
		//display: none;
	}
	
	
}
.btn-sesion{
	padding: .6em 0;
	//background:coral;
	display: flex;
	justify-content:center;

	& button{
		padding: .2em 2em;
		border-radius: 20px;
		outline: none;
		background: $color_azul;
		border:none;
		color: $color_amarillo;
		//font-weight: bold;
	}

}
.color-btnsesion{
	& button{
		background: $color_amarillo;
		color: $color_azul;
		font-weight: bold;
	}
}
.opciones{
	text-align: center;
	display: flex;
	flex-wrap:wrap;
	& a{
		color:$color_azul;
		text-decoration: none;
		width: 100%;
		font-size: 15px;
	}
}

.contenedor-menureponsive{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.5);
	position: fixed;
	z-index: 80;
	display: flex;
	justify-content:flex-end;
	//display: none;
	left: 100%;
	transition: all .5s ease;

}
.menu-responsive{
	width: 320px;
	height: 100%;
	background: $color_azul;
	padding: 0 .5em;
	padding-top: .5em;

}
.cabezera-menuresponsive{
	width: 100%;
	height: 70px;
	//background: steelblue;
	display: flex;
	justify-content:space-between;
}
.inicio-sesion-menu{
	width: 100%;
	padding: 1em 1.5em;
	//background: red;
}
.items-menu-responsive{
	width: 100%;
	height: 100%;
	//background: orange;
	overflow: hidden;

	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	& a{
		text-decoration: none;
		display: block;
		padding: 1em 0;
		color: black;
		font-weight: bold;
		color: #fff;

		& i{
			padding-right: .6em;
		}
	}

	li{
		padding-left: .5em;
		border-bottom: 0.5px solid #fff;
	}
}
.icono-cerrar,.icono-abrir{
	width: 60px;
	height: 100%;
	//background: #aaa;
	font-size: 30px;
	display: flex;
	justify-content:center;
	align-items:center;

	& i{
		cursor:pointer;
	}
}
.icono-abrir{
	display: none;	
	color: #fff;
}
.icono-cerrar{
	color: #fff;
}

.msjerror-login{
	font-size: 12px;
}

@media screen and(max-width: 1000px){

	.items{
		& a{
			display: none;
		}
	}
	.icono-abrir{
		width: 60px;
		height: 100%;
		//background: #aaa;
		font-size: 30px;
		display: flex;
		justify-content:center;
		align-items:center;

		& i{
			cursor:pointer;
		}
	}

}

@media screen and(max-width: 500px){
	.menu-responsive{
		width: 100%;
	}

	.cabezera{
		padding: 0 .5em;
	}
}











































