@import url('https://fonts.googleapis.com/css?family=Montserrat');
$color_azul:#103046;
$color_amarillo:#FFB80D;
body,html{
	height: 100%;
}
body{
	font-family: 'Montserrat', sans-serif;
}
.contendor-cabezera,.cabezera{
	display: flex;

}
.contenedor-cabezera{
	height: 70px;
	background: $color_azul;
	position: fixed;
	width: 100%;
	z-index: 50;
}
.cabezera{
	height: 100%;
	//background: #363333;
	padding: 0 2em;
	width: 100%;
	position: relative;
}
.iconomenu{
	padding: 0 .8em;
	//background: red;
	font-size: 25px;
	display: flex;
	justify-content:center;
	align-items:center;
	color: #fff;
	& i{
		cursor: pointer;
	}
}
.logo,.items{
	height: 100%;
	display: flex;
}
.logo{
	width: 30%;
	//background: red;
	min-width: 270px;
	padding: .2em 0;
	padding-left: .5em;

}
.img-logo{
	width: 150px;
	height: 100%;
	//background: steelblue;

	& img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}
.items{
	width: 70%;
	//background: blue;
	justify-content:flex-end;
	align-items:center;
	overflow: hidden;

	& a{
		padding: 1.5em 1.5em;
		text-decoration: none;
		color:#fff;
	}
}

.caja-iniciosesion{
	width: 220px;
	height: 210px;
	background: #fff;
	position: fixed;
	top: 70px;
	right: 25px;
	z-index: 40;
	box-shadow: 0 0 2px 1px #aaa;
	//display: none;

	&:before{
		content: "";
		width: 30px;
		height: 30px;
		background: #fff;
		position: absolute;
		top: -15px;
		right: 65px;
		z-index: -1;
		box-shadow: 0 0 2px 1px #aaa;
		-webkit-transform: rotate(45deg);

	}
}
.inicio-sesion,.cajas,.btn-sesion.opciones{
	width: 100%;
}
.inicio-sesion{
	height: 100%;
	padding: .6em .6em;
	background: #fff;
	//background: blue;
}
.margen{
	margin-bottom: 10px;
}
.cajas{
	//background: tomato;
	& .caja-sesion{
		width: 100%;
		font-size: 14px;
		padding: 0 .3em;
		height: 32px;
	}
	& small{
		color: #dc3545;
	}
	
	
}
.btn-sesion{
	padding: .6em 0;
	//background:coral;
	display: flex;
	justify-content:center;

	& button{
		padding: .2em 2em;
		border-radius: 20px;
		outline: none;
		background: #363333;
		border:none;
		color: #fff;
	}

}
.opciones{
	text-align: center;
	& a{
		color:#363333;
		text-decoration: none;

	}
}

@media screen and(max-width: 800px){
	.cabezera{
		padding: 0 0em;
	}
	.iconomenu{
		padding: 0 .6em;
	}
}