$plomo1:#363333;
$plomo2:#504C4C;
$plomo3:#706B6B;
.caja-cursos{
	padding: 2em 0;
	background: #fff;
	display: grid;
	grid-template-columns: calc(33.33% - 8px) 1fr 1fr;
	grid-gap:10px;
}
.cabezera-informacion-vacia,.cabezera-informacion{
	width: 100%;
	background: $plomo2;
	overflow: hidden;
}
.cabezera-informacion-vacia{
	padding: 3.5em 0;
}

.cabezera-informacion{
	padding: .5em 1.5em;
	color: #fff;
	width: 100%;
	max-height: 180px;

	& .title-informacion{
		font-size: 25px;
		margin-bottom: 5px;
		min-width: 250px;
	}

	& p{
		width: 170px;
		font-size: 13px;
		line-height: 1.2em;
	}
}
.lbl-informacion{
	//background: orange;
	padding: .2em 1.5em;
	box-shadow: 0 0 0 1px #363333;
	border-radius: 12px;
	font-size: 13px;
	color: #363333;
	background: #fff;

	& i{
		font-size: 11px;
	}

}
.contenedor-detallecurso{
	width: 100%;
	padding: 2em 3em;
	background: #fff;
	max-width: 1500px;
}
.contenedor-cuadrodetalle{
	width: 100%;
	//background: tomato;
	display: flex;
}
.bordes{
	box-shadow: 0 0 0 2px $plomo3;
	display: flex;
	flex-wrap:wrap;
	width: 80%;
	min-width: 250px;
}
.cuadro1,.cuadro2{
	width: 50%;
	padding:.5em .5em;
	padding-left: 2em;

	& label{
		font-size: 16px;
	}
	& ul{
		list-style: none;
		padding: 0;
	}
	& li{
		font-size: 13px;
		line-height: 1.7em;

		& i{
			position: relative;
			font-size: 7px;
			top: -2px;
			padding-right: 5px;
		}
	}

}
.cuadro1{
	//background: skyblue;
	border-right: 2px solid $plomo3;
}
.cuadro2{
	//background: steelblue;
}

.contenedor-modulo{
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: .5em;
	//background: steelblue;
}
.modulos{
	width: 100%;
	//background: orange;

	& ul{
		list-style: none;
		padding: 0;
		min-width: 250px;
		margin:0;
	}

	& li{
		padding-left: 10px;
		padding-top: 10px;
		border-bottom: 1px solid $plomo3;
		font-size: 15px;
		position: relative;

		& i{
			position: absolute;
			font-size: 6px;
			top: 20px;
			right: 15px;
		}
	}

}

@media screen and(max-width: 900px){
	.bordes{
		width: 100%;
	}
}
@media screen and(max-width: 700px){
	.cuadro1, .cuadro2{
		width: 100%;
	}
	.cuadro1{
		border-right: none;
		border-bottom: 2px solid $plomo3;
	}
	.contenedor-detallecurso{
		width: 100%;
		padding: 1.5em 1em;
	}
}