$plomo1:#363333;
$plomo2:#504C4C;
$plomo3:#706B6B;
$color_azul:#103046;
$color_amarillo:#FFB80D;
.contenedor{
	width: 100%;
	background: #fff;//tomato;
	padding-top: 70px;
	//padding-bottom: 10px;
	z-index: 5;
	min-height: 100vh;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	align-item:center;
}
.caja-cursos{
	padding: 2em 0;
	background: #fff;
	display: grid;
	grid-template-columns: calc(25% - 12px) 1fr 1fr 1fr;
	grid-gap:14px;
}
.img-inicio{
	height: 500px;
	width: 100%;
	background: #504C4C;
	position: relative;
	//overflow: hidden;
	max-width: 1500px;
	

	& img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}

.title-imginicio{
	position: absolute;
	width: 100%;
	//background: red;
	padding: 0 1em;
	height: 120px;
	top: 200px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.title{
	width: 100%;
	//background: blue;
	padding: .5em 0;
	text-align: center;

	& label{
		font-size: 35px;
		margin-bottom: 0;
		color: #fff;
	}
}
.btn-enlace{
	width: 100%;
	padding: .5em 0;
	text-align: center;
	& a{
		text-decoration: none;
		padding: .6em .6em;
		background: $color_azul;
		font-size: 13px;
		border-radius: 15px;
		color: $color_amarillo;
	}
}
.contenedor-cuadroprofe{
	width: 100%;
	padding: .1em 2em;
	background: #fff;
	display: flex;
	justify-content:center;
	max-width: 1500px;
}
.cuadro-profesor{
	width: 80%;
	background: $plomo1;
	margin-bottom: 2em;
	
}
.cabezera-cuadro-profesor{
	width: 100%;
	height: 35px;
	background: $color_amarillo;
}
.contenido-cuadro-profesor{
	width: 100%;
	padding: 1.5em 0;
	background: $color_azul;
	display: flex;
	flex-wrap:wrap;
}
.contenedor-circle,.contenedor-square{
	width: 50%;
	
}
.contenedor-circle{
	//background: red;
	padding-left: 3em;
	& label{
		padding-left: 1.8em;
		margin-bottom: 3em;
		color: #fff;
	}
}
.contenedor-square{
	//background: steelblue;
	padding-right: 1em;
	display: flex;
	justify-content:flex-end;

}
.img-circle{
	width: 120px;
	height: 120px;
	border-radius: 60px;
	//background: tomato;
	overflow: hidden;
	margin-bottom: 1em;
	& img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}

}
.img-square{
	width: 260px;
	height: 240px;
	min-height: 5vh;
	//background: coral;
	overflow: hidden;
	border-radius: 15px;
	& img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}
.final{
	width: 100%;
	//padding: 0 .5em;
	background: #fff;//blue;
	align-self:flex-end;
	//max-width: 1500px;
}

@media screen and(min-width: 1400px){
	.caja-cursos{
		grid-template-columns: calc(20% - 8px) 1fr 1fr 1fr 1fr;
	}

}
@media screen and(max-width: 1400px){
	.img-inicio{
		height: 440px;
	}
}

@media screen and(max-width: 1100px){
	.caja-cursos{
		grid-template-columns: calc(33.33% - 8px) 1fr 1fr ;
	}
}

@media screen and(max-width: 900px){
	.caja-cursos{
		grid-template-columns: calc(50% - 8px) 1fr;
	}
	.img-square{
		width: 240px;
		height: 220px;
		
	}
}

@media screen and(max-width: 800px){
	
	.cuadro-profesor{
		width: 90%;
	}
	.contenedor-cuadroprofe{
		width: 100%;
		padding: .1em 1em;
	}
	.img-square{
		width: 200px;
		height: 180px;
	}
	.contenedor-circle{
		//background: red;
		padding-left: 3em;
		& label{
			padding-left: 1.4em;
		}
	}
	.img-circle{
		width: 100px;
		height: 100px;
	}

	.img-inicio{
		height: 340px;
	}
	.title-imginicio{
		padding: 0 1em;
		top: 190px;
	}
	.title{
		& label{
			font-size: 30px;
		}
	}
	.btn-enlace{
		& a{
			font-size: 12px;
		}
	}


}

@media screen and(max-width: 600px){
	
	.cuadro-profesor{
		width: 100%;
	}
	.caja-cursos{
		grid-template-columns: 1fr;
	}
	.img-inicio{
		height: 300px;
	}
	.title-imginicio{
		padding: 0 1em;
		top: 140px;
		height: 100px;
	}
	.title{
		padding: .3em 0;
		& label{
			font-size: 20px;
		}
	}
	.btn-enlace{
		padding: .3em 0;
		& a{
			font-size: 11px;
		}
	}


}

@media screen and(max-width: 500px){
	
	.contenedor-circle,.contenedor-square{
		width: 100%;
		padding: 0;
		display: flex;
		flex-wrap:wrap;
		justify-content:center;

	}
	.contenedor-circle{
		& label{
			padding: 0;
			width: 100%;
			text-align: center;
		}
	}

}