$plomo1:#363333;
$plomo2:#504C4C;
$plomo3:#706B6B;
$color_azul:#103046;
$color_amarillo:#FFB80D;
.menu{
	width: 220px;
	height: 100%;
	position: fixed;
	background: $color_amarillo;
	transition: all .5s ease;
	z-index: 1;
	display: block;
}
.usuario-login{
	width: 100%;
	height: 180px;
	//background: blue;
	padding: .9em 0;
	border-bottom: 1px solid #eee;
}
.contenedor-imgusuario,.img-usuario{
	width: 100%;
}
.contenedor-imgusuario{
	height: 120px;
	//background: orange;
	display: flex;
	justify-content:center;
	align-items:center;
}
.img-usuario{
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 50px;
	overflow: hidden;
	& img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}
.tipo-usuario{
	height: 30px;
	//background: steelblue;
	text-align: center;
	font-size: 18px;
	color: $color_azul;
	font-weight: bold;
}
.menu-items{
	padding: .9em 0;
	width: 100%;
	height: calc(100% - 179px);
	//background: skyblue;
	font-size: 17px;

	ul{
		padding: 0;
	}

	li{
		list-style: none;
		padding-left: 2.8em;
		line-height: 2.8em;
		transition: .2s;
	}
	li:hover{
		background: darken($color_amarillo,8);
	}
	& a{
		display: block;
		text-decoration: none;
		font-weight: bold;

		& i{
			position: relative;
			top: -3px;
			font-size: 9px;
		}
	}
	& a,i{
		color: $color_azul;
	}
}
@media screen and(max-width: 800px){
	.menu{
		display: none;
	}
}