$plomo1:#363333;
$plomo2:#504C4C;
$plomo3:#706B6B;
.caja-cursos{
	padding: 2em 0;
	background: #fff;
	display: grid;
	grid-template-columns: calc(33.33% - 8px) 1fr 1fr;
	grid-gap:10px;
}
.cabezera-informacion-vacia,.cabezera-informacion{
	width: 100%;
	background: $plomo2;
}
.cabezera-informacion-vacia{
	width: 100%;
	padding: 3.5em 0;
	background: $plomo2;//red;
}
