$plomo1:#363333;
$plomo2:#504C4C;
$plomo3:#706B6B;

.contenedor-pasos,.contenedor-info-pasos{
	width: 100%;
	padding: 1em 4em;
	max-width: 1500px;
}
.contenedor-pasos{
	//background: orange;
	display: flex;
}
.contenedor-info-pasos{
	display: flex;
	//min-width: 100vh;
	//background: green;
	overflow: hidden;
	width: 100%;
}
.pasos{
	width: 105px;
	height: 80px;
	background: #fff;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
		
	& input[type="radio"]{
		display: none;
	}

	& label{
		margin-bottom: 0;
		height: 100%;
		width: 100%;
		padding-left: .4em;
		padding-top: .2em;
		font-size: 14px;
		transition:all .5s ease;
	}

	&:last-child{
		margin-right: 0;
	}

	&:before{
		content: "";
		position: absolute;
		height: 80px;
		width: 80px;
		background: #fff;
		left: 80px;
		-webkit-transform: rotate(45deg);
		border-left: 1px solid black;
		border-bottom: 1px solid black;
	}

}

.ventana2,.ventana3,{
	width: 850px;
	//position: relative;
	display: none;

}	
.ventana1{
	width: 850px;
}
.info-paso1, .info-paso2, .info-paso3{

	background: #fff;
	display: flex;
	flex-wrap:wrap;
	padding: .5em .6em;
	position: relative;
	box-shadow: 0 0 0 1px black;
	width: 850px;
	margin-bottom: 3em;
	transition: all .5s ease !important;
}
.info-paso2,.info-paso3{
}
.info-paso1{

}
.info-paso2{

}
.info-paso3{
}

.info-curso-paso1,.contenedor-modulo{
	width: 70%;
}
.info-curso-paso1{
	//padding: .1em .1em;
	//background: blue;
}
.title-info-paso,.subtitle-info-paso{
	width: 100%;
}
.subtitle-info-paso{
	font-size: 14px;
	line-height: 1.2em;
}
.contenedor-modulo{
	width: 100%;
	//background: steelblue;
}
.modulos{
	width: 100%;
	//background: orange;

	& ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	& li{
		padding-left: 10px;
		padding-top: 2px;
		border-bottom: 1px solid $plomo3;
		font-size: 14px;
		position: relative;

		& i{
			position: absolute;
			font-size: 5px;
			top: 13px;
			right: 15px;
		}
	}

}
.content-square{
	width: 30%;
	padding: .2em .2em;
	//background: skyblue;
	display: flex;
	flex-wrap:wrap;

}
.square{
	width: 100%;
	//background: lime;
	padding: 0.1em;
	//background: purple;
	display: flex;
	justify-content:center;
	align-items:center;
	//min-height: 25vh;
	//height: 100%;
}
.square-full{
	width: 120px;
	height: 110px;
	padding: .5em .5em;
	background: black;

	& img{
		width: 100%;
	}
}
.botones{
	width: 100%;
	//background: grey;
	padding: .2em 0;
	display: flex;
	justify-content:flex-end;
	position: relative;
}
.btn-pasos{
	padding: 0 1em;
	margin-right: 10px;
	border: none;
	border-radius: 15px;
	height: 24px;
	align-self:flex-end;
	font-size: 15px;


	&:last-child{
		margin-right: 0;
	}
}
.radios{
	width: 100%;
	//background: orange;
	padding: .1em .1em;
	display: flex;
	align-items:center;

	& label{
		width: auto;
		margin-top: 10px;
		padding-left: .4em;
		padding-right: 1em;
		cursor: pointer;
	}
}
.frm-pago{
	width: 100%;
	& label{
		width: 100%;
		padding-bottom: .2em;
	}
}
.cajas-frmpaso2{
	width: 100%;
	padding: .2em 0;
	//background: tomato;

	& label{
		
		margin-bottom: 0;
		font-size: 14px;
	}

	
	& input[type="radio"]{
		position: relative;
		top: 2px;
	}

	& input[type="checkbox"]{
		position: relative;
		top: 2px;
	}
}
.select{

		height: 22px;
		font-size: 14px;
		border-radius: 2px;
	
}
.por2{
	width: 160px;
	height: 150px;

}
.login-frm2{
	width: 100%;
	//background: lime;
	padding: .5em 0;
	display: none;
}
.lbl-login{
	width: 85px;
	//background: red;
	position: relative;
	& span{
		position: absolute;
		right: 0;
	}
}
.txt-paso2{
	height: 26px;
	border-radius: 5px;
	width: 40%;
	font-size: 14px;
	padding: 0 .5em;
	border: 1px solid $plomo2;
}
.division{
	//background: pink;
	display: flex;

	& label{
		width: 20%;
	}
}
.cajas-divididas{
	width: 120px;
	//background: red;
	& label{
		width: 100%;
	}
}
#paso1:checked ~label{
	background: red;
}

#paso2:checked ~label{
	background: red;
}

#paso3:checked ~label{
	background: red;
}

@media screen and(max-width: 1000px){
	.ventana1,.ventana2,.ventana3{
		width: 700px;
	}
	.info-paso1,.info-paso2,.info-paso3{
		width: 700px;
	}
	.txt-paso2{
		width: 65%;
	}
	.contenedor-info-pasos{
		padding: 1em 2em;
	}
	.contenedor-pasos{
		padding: 1em 2em;
	}
}

@media screen and(max-width: 800px){
	.ventana1,.ventana2,.ventana3{
		width: 600px;
	}
	.info-paso1,.info-paso2,.info-paso3{
		width: 600px;
	}
}

@media screen and(max-width: 700px){
	.ventana1,.ventana2,.ventana3{
		width: 500px;
	}
	.info-paso1,.info-paso2,.info-paso3{
		width: 500px;
	}
	.info-curso-paso1{
		width: 100%;
	}
	.content-square{
		width: 100%;
		margin-top: .8em;
	}
	.txt-paso2{
		width: 100%;
	}

}

@media screen and(max-width: 600px){
	.info-paso1,.info-paso2,.info-paso3{
		width: 100%;
	}
	.ventana1,.ventana2,.ventana3{
		width: 100%;
	}
	.contenedor-info-pasos{
		padding: 1em 1em;
	}
	
	.contenedor-pasos{
		padding: 1em 1em;
	}

}
@media screen and(max-width: 500px){
	.pasos{
		width: 90px;
		height: 65px;

		& label{
			font-size: 13px;
		}
		&:before{
			height: 65px;
			width: 65px;
			left: 69.4px;
		}

}
}




