$plomo1:#363333;
$plomo2:#504C4C;
$plomo3:#706B6B;
.pie-pagina{
	width: 100%;
	height: 45px;
	background: $plomo2;
	display: flex;
	justify-content:center;
	align-items:center;
	position: relative;

	& label{
		margin-bottom: 0;
		font-size: 15px;
		color: #ffffff;
	}
}