$plomo1:#363333;
$plomo2:#504C4C;
$plomo3:#706B6B;
.title-imgtestimonio,.title-testimonio,.enlace-testimonio{
	width: 100%;
	display: flex;
}
.title-imgtestimonio{
	height: 120px;
	//background: steelblue;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 0 2em;
	flex-wrap:wrap;
}
.title-testimonio,.enlace-testimonio{
	justify-content:center;
	align-items:center;
}
.title-testimonio{
	font-size: 35px;
	color: #fff;
	text-align: center;
	& label{
		margin-bottom: 0;
	}
}
.btn-tipoenlace{
	background: $plomo1;
	color: #fff;
	padding: .5em 1em;
	border-radius: 50px;

	&:hover{
		color: #fff;
		text-decoration: none;
	}
}
.contenedor-testimonio{
	width: 100%;
	background: #fff;
	padding: 1.5em 3em;
}
.title-items{
	width: 100%;
	//background: tomato;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	
	& label{
		margin-bottom: 0;
	}
}
.contenedor-cajas{
	width: 100%;
	//background: blue;
	padding: 1.5em .5em;
	display: flex;
	flex-wrap:wrap;
}
.caja-testimonio{
	width: 50%;
	//background: red;
	padding: 1em 4em;
	&:nth-child(odd){
		border-right: 1px solid $plomo2;
	}
}
.testimonio{
	width: 100%;
	background: #fff;
	padding: .8em .5em;
	position: relative;
	box-shadow: 0 0 0 1px $plomo2 inset;
	
	& label, p{
		padding-left: .6em;
	}
	& label{
		padding-top: .5em;
		font-size: 15px;
	}
	& p{
		font-size: 13px;
		margin-bottom: 40px;
		width: 80%;
		overflow:hidden;
		white-space:nowrap;
		text-overflow: ellipsis;
	}
	&:before{
		content: "";
		width: 100%;
		height: 22px;
		background: $plomo2;
		position: absolute;
		left: 0;
		bottom: 0;

	}
}

.circulo{
	height: 65px;
	width: 65px;
	background: $plomo2;
	position: absolute;
	right: 40px;
	top: 10px;
	border-radius: 50px;
	transition: all .5s ease;
}

@media screen and(max-width: 1200px){
	.caja-testimonio{
		padding: 1em 2em;
	}
}
@media screen and(max-width: 1000px){
	.caja-testimonio{
		padding: 1em 1em;	
		//width: 70%;
	}
	.contenedor-testimonio{
		padding: 1.5em 1em;
	}
	.contenedor-cajas{
		padding: 1.5em 0;
		justify-content:center;
	}
	.title-testimonio{
		font-size: 30px;
	}
	/*.circulo{
		right: 20px;
	}*/
}
@media screen and(max-width: 900px){
	.caja-testimonio{
		padding: 1em 1em;	
		width: 80%;

		&:nth-child(odd){
			border-right: none;
		}
	}
	.title-testimonio{
		font-size: 25px;
	}
	.btn-tipoenlace{
		font-size: 14px;
	}
	/*.circulo{
		right: 20px;
	}*/
}
@media screen and(max-width: 700px){
	.caja-testimonio{
		padding: 1em 1em;	
		width: 90%;
	}
	.title-testimonio{
		font-size: 20px;
	}
	/*.circulo{
		right: 20px;
	}*/
}
@media screen and(max-width: 600px){
	.caja-testimonio{
		padding: .5em 0;	
		width: 100%;
	}
	.circulo{
		right: 10px;
		height: 55px;
		width: 55px;
		top: 12px;
	}
	.contenedor-testimonio{
		padding: 1.5em .5em; 
	}
	.btn-tipoenlace{
		font-size: 12px;
	}

}
