@import url("https://fonts.googleapis.com/css?family=Montserrat");
body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.contendor-cabezera, .cabezera {
  display: flex;
  background: #103046;
}

.contenedor-cabezera {
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabezera {
  height: 100%;
  padding: 0 2em;
  width: 100%;
  position: relative;
  max-width: 1500px;
}

.logo, .items {
  height: 100%;
  display: flex;
}

.logo {
  width: 30%;
  min-width: 270px;
  padding: .2em 0;
  padding-left: .5em;
}

.img-logo {
  width: 150px;
  height: 100%;
}
.img-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.items {
  width: 70%;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  /*& a:hover:before{
  	left: 0;
  	width: 100%;
  } 
  & a:hover:after{
  	left: 0;
  	width: 100%;
  } */
}
.items a {
  padding: 1.5em 1.5em;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
  /*&:before, &:after{
  	content:"";
  	position: absolute;
  	width: 0;
  	background: $color_amarillo;
  	height: 3px;
  	left: 50%;
  	transition:all .3s ease;
  }
  &:before{
  	bottom: 12px;
  }
  &:after{
  	top: 12px;
  }*/
}
.items a:hover {
  color: #FFB80D !important;
}

.caja-iniciosesion {
  width: 220px;
  min-height: 100px;
  background: #fff;
  position: fixed;
  top: 70px;
  right: 25px;
  z-index: 40;
  box-shadow: 0 0 2px 1px #aaa;
  display: none;
}
.caja-iniciosesion:before {
  content: "";
  width: 30px;
  height: 30px;
  background: #fff;
  position: absolute;
  top: -15px;
  right: 65px;
  z-index: -1;
  box-shadow: 0 0 2px 1px #aaa;
  -webkit-transform: rotate(45deg);
}

.inicio-sesion, .cajas, .btn-sesion.opciones {
  width: 100%;
}

.inicio-sesion {
  height: 100%;
  padding: .6em .6em;
  background: #fff;
}

.margen {
  margin-bottom: 10px;
}

.cajas .caja-sesion {
  width: 100%;
  font-size: 14px;
  padding: 0 .3em;
  height: 32px;
  border: 1px solid #aaa;
}
.cajas small {
  color: #dc3545;
  margin-top: 3px;
}

.btn-sesion {
  padding: .6em 0;
  display: flex;
  justify-content: center;
}
.btn-sesion button {
  padding: .2em 2em;
  border-radius: 20px;
  outline: none;
  background: #103046;
  border: none;
  color: #FFB80D;
}

.color-btnsesion button {
  background: #FFB80D;
  color: #103046;
  font-weight: bold;
}

.opciones {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.opciones a {
  color: #103046;
  text-decoration: none;
  width: 100%;
  font-size: 15px;
}

.contenedor-menureponsive {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 80;
  display: flex;
  justify-content: flex-end;
  left: 100%;
  transition: all .5s ease;
}

.menu-responsive {
  width: 320px;
  height: 100%;
  background: #103046;
  padding: 0 .5em;
  padding-top: .5em;
}

.cabezera-menuresponsive {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.inicio-sesion-menu {
  width: 100%;
  padding: 1em 1.5em;
}

.items-menu-responsive {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.items-menu-responsive ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.items-menu-responsive a {
  text-decoration: none;
  display: block;
  padding: 1em 0;
  color: black;
  font-weight: bold;
  color: #fff;
}
.items-menu-responsive a i {
  padding-right: .6em;
}
.items-menu-responsive li {
  padding-left: .5em;
  border-bottom: 0.5px solid #fff;
}

.icono-cerrar, .icono-abrir {
  width: 60px;
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icono-cerrar i, .icono-abrir i {
  cursor: pointer;
}

.icono-abrir {
  display: none;
  color: #fff;
}

.icono-cerrar {
  color: #fff;
}

.msjerror-login {
  font-size: 12px;
}

@media screen and (max-width: 1000px) {
  .items a {
    display: none;
  }

  .icono-abrir {
    width: 60px;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icono-abrir i {
    cursor: pointer;
  }
}
@media screen and (max-width: 500px) {
  .menu-responsive {
    width: 100%;
  }

  .cabezera {
    padding: 0 .5em;
  }
}

/*# sourceMappingURL=cabezera.css.map */
