.contenedor-pasos, .contenedor-info-pasos {
  width: 100%;
  padding: 1em 4em;
  max-width: 1500px;
}

.contenedor-pasos {
  display: flex;
}

.contenedor-info-pasos {
  display: flex;
  overflow: hidden;
  width: 100%;
}

#paso1 {
  zoom: 1.1;
}

.pasos {
  width: 105px;
  height: 80px;
  background: #153e5b;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #FFB80D;
  border-left: 1px solid #FFB80D;
  border-bottom: 1px solid #FFB80D;
  z-index: 1;
  color: #FFB80D;
  transition: all .5s ease;
}
.pasos input[type="radio"] {
  display: none;
}
.pasos label {
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  padding-left: .4em;
  padding-top: .2em;
  font-size: 14px;
  transition: all .5s ease;
}
.pasos:last-child {
  margin-right: 0;
}
.pasos:before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  background: #fff;
  left: 80px;
  -webkit-transform: rotate(45deg);
  border-left: 1px solid #FFB80D;
  border-bottom: 1px solid #FFB80D;
  z-index: 10;
}

.ventana2, .ventana3 {
  width: 850px;
  display: none;
}

.ventana1 {
  width: 850px;
}

.info-paso1, .info-paso2, .info-paso3 {
  background: #FFB80D;
  display: flex;
  flex-wrap: wrap;
  padding: .5em .6em;
  position: relative;
  box-shadow: 0 0 0 1px #FFB80D;
  width: 850px;
  margin-bottom: 3em;
  transition: all .5s ease !important;
  color: #103046;
}

.info-curso-paso1, .contenedor-modulo {
  width: 70%;
}

.title-info-paso, .subtitle-info-paso {
  width: 100%;
}

.subtitle-info-paso {
  font-size: 14px;
  line-height: 1.2em;
}

.contenedor-modulo {
  width: 100%;
}

.modulos {
  width: 100%;
}
.modulos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modulos li {
  padding-left: 10px;
  padding-top: 2px;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  position: relative;
}
.modulos li i {
  position: absolute;
  font-size: 5px;
  top: 13px;
  right: 15px;
  color: #fff;
}

.content-square {
  width: 30%;
  padding: .2em .2em;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 100%;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-full {
  width: 120px;
  height: 110px;
  padding: .5em .5em;
  background: #eee;
}
.square-full img {
  width: 100%;
}

.botones {
  width: 100%;
  padding: .2em 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.botones button {
  outline: none;
}

.btn-pasos {
  padding: 0 1em;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  height: 24px;
  align-self: flex-end;
  font-size: 15px;
  cursor: pointer;
  background: #103046;
  color: #FFB80D;
}
.btn-pasos:last-child {
  margin-right: 0;
}

.radios {
  width: 100%;
  padding: .1em .1em;
  display: flex;
  align-items: center;
}
.radios label {
  width: auto;
  margin-top: 10px;
  padding-left: .4em;
  padding-right: 1em;
  cursor: pointer;
}

.frm-pago {
  width: 100%;
}
.frm-pago label {
  width: 100%;
  padding-bottom: .2em;
}

.cajas-frmpaso2 {
  width: 100%;
  padding: .3em 0;
  display: flex;
  flex-wrap: wrap;
}
.cajas-frmpaso2 label {
  margin-bottom: 0;
  font-size: 14px;
  min-height: 21px;
}
.cajas-frmpaso2 input[type="radio"] {
  position: relative;
  top: 4px;
  left: 8px;
}
.cajas-frmpaso2 input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.cajas-frmpaso2 .chk-hidden {
  display: none;
}

.estilo-select {
  min-width: 25px;
  height: 25px;
  background: #fff;
  margin-right: .5em;
  border: 1px solid #aaa;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}
.estilo-select:last-child {
  margin-right: 0;
}
.estilo-select select {
  position: relative;
  top: -1px;
  border: none;
  width: 100%;
  height: 23px;
  font-size: 14px;
  padding-right: 3px;
  padding-left: 3px;
  outline: none;
  border-radius: 8px;
}
.estilo-select:before {
  content: "\025be";
  background: #fff;
  height: 100%;
  width: 16px;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  right: 0;
  pointer-events: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #aaa;
}

.aceptar {
  width: 100%;
  padding-left: 30px;
  font-size: 15px;
  position: relative;
  margin-top: .5em;
  cursor: pointer;
}
.aceptar::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #aaa;
}

.ok {
  position: absolute;
  left: 0;
  top: -2px;
  z-index: 1;
  font-size: 24px;
  transition: all .3s ease;
  color: #28a745;
  opacity: 0;
}

#acepto:checked ~ .aceptar .ok {
  opacity: 1;
}

.por2 {
  width: 160px;
  height: 150px;
}

.login-frm2 {
  width: 100%;
  padding: .5em 0;
  display: none;
}

.lbl-frmpaso2 {
  cursor: pointer;
  padding-left: .7em;
}

.lbl-login {
  width: 85px;
  position: relative;
  margin-right: .3em;
}
.lbl-login span {
  position: absolute;
  right: 0;
}

.txt-paso2 {
  height: 26px;
  border-radius: 5px;
  width: 60%;
  font-size: 14px;
  padding: 0 .5em;
  border: 1px solid #aaa;
  outline: none;
}

.division {
  display: flex;
}
.division label {
  width: 20%;
}

.cajas-divididas {
  min-width: 120px;
  margin-right: .5em;
}
.cajas-divididas label {
  width: 100%;
}
.cajas-divididas input[type="text"] {
  height: 26px;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  padding: 0 .5em;
  border: 1px solid #aaa;
}

#paso1:checked ~ label {
  background: red;
}

#paso2:checked ~ label {
  background: red;
}

#paso3:checked ~ label {
  background: red;
}

@media screen and (max-width: 1000px) {
  .ventana1, .ventana2, .ventana3 {
    width: 700px;
  }

  .info-paso1, .info-paso2, .info-paso3 {
    width: 700px;
  }

  .txt-paso2 {
    width: 65%;
  }

  .contenedor-info-pasos {
    padding: 1em 2em;
  }

  .contenedor-pasos {
    padding: 1em 2em;
  }
}
@media screen and (max-width: 800px) {
  .ventana1, .ventana2, .ventana3 {
    width: 600px;
  }

  .info-paso1, .info-paso2, .info-paso3 {
    width: 600px;
  }
}
@media screen and (max-width: 700px) {
  .ventana1, .ventana2, .ventana3 {
    width: 500px;
  }

  .info-paso1, .info-paso2, .info-paso3 {
    width: 500px;
  }

  .info-curso-paso1 {
    width: 100%;
  }

  .content-square {
    width: 100%;
    margin-top: .8em;
  }

  .txt-paso2 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .info-paso1, .info-paso2, .info-paso3 {
    width: 100%;
  }

  .ventana1, .ventana2, .ventana3 {
    width: 100%;
  }

  .contenedor-info-pasos {
    padding: 1em 1em;
  }

  .contenedor-pasos {
    padding: 1em 1em;
  }
}
@media screen and (max-width: 500px) {
  .pasos {
    width: 90px;
    height: 65px;
  }
  .pasos label {
    font-size: 13px;
  }
  .pasos:before {
    height: 65px;
    width: 65px;
    left: 69.4px;
  }
}

/*# sourceMappingURL=pasos.css.map */
